@model Final_NET.Models.Account

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.Username</span>
                                <img class="img-profile rounded-circle" src="~/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login.html" data-toggle="modal"
                                   data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Profile</h1>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Avatar -->
                        <div class="col-lg-3">
                            <div class="card shadow mb-4">
                                <div class="card-body text-center">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;"
                                         src="~/img/undraw_profile.svg" alt="...">
                                </div>
                            </div>
                        </div>

                        <!-- User Information -->
                        <div class="col-lg-9">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <form method="post" asp-controller="Profile" asp-action="Update" asp-route-id="@Model.Id" class="signin-form">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" id="username" value="@Model.Username" readonly>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" value="@Model.Email" readonly>
                                            </div>
                                        </div>
                                        @if (TempData["Its_me"].Equals("true"))
                                        {
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="oldPassword">Old Password</label>
                                                    <input type="password" class="form-control" id="oldPassword" asp-for="Password" name="Password">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="newPassword">New Password</label>
                                                    <input type="password" class="form-control" id="newPassword" name="NewPassword">
                                                    @if (ViewBag.ErrorPassword != null)
                                                    {
                                                        <span class="text-danger">@ViewBag.ErrorPassword</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="confirmPassword">Confirm Password</label>
                                                    <input type="password" class="form-control" id="confirmPassword" name="RePassword">
                                                    @if (ViewBag.ErrorConfirm != null)
                                                    {
                                                        <span class="text-danger">@ViewBag.ErrorConfirm</span>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="role">Role</label>
                                                <select asp-for="Role" class="form-control" asp-items="ViewBag.Roles"></select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="status">Status</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="hidden" id="statusHidden" name="StatusCheck" value="@Model.Status" />
                                                    <input type="checkbox" class="custom-control-input" id="status" @(Model.Status == 0 ? "checked" : "")>
                                                    <label class="custom-control-label" for="status">Lock</label>
                                                </div>
                                            </div>
                                        </div>
                                        @if (ViewBag.SuccessMessage != null)
                                        {
                                            <span class="text-success">@ViewBag.SuccessMessage</span>
                                        }
                                        <br>
                                        @if(TempData["Role"].Equals("SuperAdmin") || TempData["Role"].Equals("Admin"))
                                        {
                                            <button class="btn btn-primary" asp-action="Admin" asp-controller="Admin">Trở về Admin</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary" asp-action="Home" asp-controller="Home">Trở về Home</button>
                                        }
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="text-center my-auto">
                        <span>Kien Admin &copy; 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-action="Login" asp-controller="Login">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <script>
        document.getElementById('status').addEventListener('change', function() {
            document.getElementById('statusHidden').value = this.checked ? 0 : 1;
        });
    </script>
</body>

</html>
